*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
.header{
  background-color: white;
  color: #333;
  padding-top: 20px;
}

.wrap{
  margin: 0 auto;
  width: 1200px;
}

.header-wrap{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

body{
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #EEE;
}

.nav-link{
  display: inline-block;
  color: #011F3A;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  position: relative;
  vertical-align: top;
}

.nav-link::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #011F3A;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;

  transition: opacity .1s linear;
}

.nav-link:hover::after{
  opacity: 1;
}

.cart-link{
  margin-top: 5px;
}

.content{
  background-color: #F2AE4D;
}

.content-wrap{
  background-image: url(../images/Background_image.png);
  min-height: 750px;
  background-position-x: 670px;
  background-position-y: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display:
}

.content-title{
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  width: 500px;
  margin-bottom: 30px;
}

.content-suptitle{
  font-weight: normal;
  margin-bottom: 30px;
}

.button-blue{
  display: inline-block;
  background: #3D5675;
  color: white;
  padding: 20px 35px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.button-blue-small{
  display: inline-block;
  background: #3D5675;
  color: white;
  padding: 15px 45px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.button-white{
  display: inline-block;
  background: #FFF;
  color: #3D5675;
  padding: 20px 35px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.button-white-small{
  display: inline-block;
  background: #FFF;
  color: #3D5675;
  padding: 15px 45px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.button-gray {
  display: inline-block;
  background: #F2F2F2;
  color: #3D5675;
  padding: 20px 35px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.button-textbox {
  display: inline-block;
  background: #FFF;
  color: #3D5675;
  opacity: 40%;
  padding: 15px 200px 15px 10px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-main{
  background: white;
  display: flex;
  min-height: 120px;
  justify-content: space-between;
}

.footer-main-item{
  display: flex;
  white-space: nowrap;
  align-items: center;
  align-self: center;
}

.footer-main-itemt{
  margin-left: 15px;
  color: gray;
}

.products{
  display: flex;
  justify-content: space-between;
  min-height: 160px;
  align-items: center;
}

/* Section Card */

.card{
  display: flex;
}

.card-items{
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  position: relative;
}

.card-item{
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  border: 1px solid #EEE;
}

.under-image{
  margin-top: -10px;
  padding-left: 25px;
}

.card-title{
  padding-top: 25px;
  font-size: 18px;
  line-height: 21px;
  color: #011F3A;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 21px;
  margin-bottom: 8px;
}

.card-text{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #777;
  margin-bottom: 5px;
  width: 210px;
}

.card-price{
  margin-right: 25px;
  font-size: 15px;
  line-height: 24px;
  color: #A1A1A1;
}

.card-under-title{
  display:flex;
  justify-content: space-between;
}

.card-footer{
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

.card-footer-text{
  margin-right: 30px;
  color: #A1A1A1;
  font-weight: 700;
}

.product_stages{
  background-color: #72BDA3;
  height: 774px;
  margin-bottom: 158px;
}

.product_stages-heading{
  padding-top: 88px;
  text-align: center;
  color: #011F3A;
  line-height: 41px;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 45px;
}

.product_stages-images{
  display: flex;
  justify-content: space-around;
  margin-bottom: 90px;
}

.under-product_image{
  margin-top: 12px;
  text-align: center;
}

.product_stages-title{
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.36px;
  color: #011F3A;
}

.product_stages-undertitle{
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.36px;
  font-weight: 400;
  margin: 0 auto;
  width: 200px;
}

.product_stages-footer{
  text-align: center;
}

/* Section advantage */

.advantage{
  margin-bottom: 200px;
}

.advantage-heading{
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  color: #011F3A;
  margin-bottom: 80px;
}

.advantage-images{
  display: flex;
  justify-content: space-between;
}

.advantage-underimage{
  width: 250px;
}

.advantage-image-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.36px;
  color: #011F3A;
  margin-bottom: 12px;
}

.advantage-image-undertitle{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #A1A1A1;
}

/* Section request */

.request{
  background-color: #FFCA3A;
  height: 610px;
  margin-bottom: 150px;
  display: flex;
	justify-content: space-around;
	align-items: center;
  text-align: center;
}

.request-image{

}

.request-text{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #011F3A;
  margin-bottom: 15px;
}

.request-undertext{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #3D5675;
  margin-bottom: 10px;
  width: 310px;
}

.line{
  height: 350px;
  border-width: thin;
  border-color: #A1A1A1;
  border-style: solid;
  opacity: 50%;
}

.line-small{
  height: 50px;
  border-width: thin;
  border-color: #A1A1A1;
  border-style: solid;
  opacity: 50%;
}

/* Section merchants */

.merchants{
 margin-bottom: 177px
}

.merchants-title{
  text-align: center;
  font-size: 32px;
  font-weight: 700px;
  line-height: 37px;
  color: #011F3A;
  margin-bottom: 60px;
}

.merchants-blocks{
  background-color: #fff;
}

.merchants-rating{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 150px;
  align-items: center;
}

.merchants-block{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 width: 588px;
 height: 1000px;
}

.merchants-block2{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 width: 588px;
 height: 1000px;
}

.merchants-image{

}

.merchants-avatar{
  display: flex;
}

.merchants-author{
 width: 395px;
}

.merchants-author-text{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #011F3A;
  margin-bottom: 12px;
}

.merchants-author-name{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #011F3A;
  margin-bottom: 4px;
}

.merchants-author-role{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #A1A1A1;
}

.merchants-author-data{
  margin-left: 20px;
  margin-right: 69px;
}

.merchants-feedback{
  display: flex;
}

.footer-buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 137px;
}

.main-footer-title{
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  color: #011F3A;
  text-align: center;
  margin-bottom: 55px;
}

.footer-nav-background{
  width: 100%;
  height: 365px;
  background-color: #F2F3F4;
}

.footer-nav{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer-container-text-custom{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 250px;
}

.footer-container-text-about{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 200px;
}

.footer-container-text-shopify{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 135px;
}

.footer-container-text-email{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 150px;
}

.footer-nav-text{
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #3D5675;
  text-decoration: none;
}

.footer-nav-links{
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.padding-footer-buttons{
  border: 5px solid #EEE;
}
