*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
.header{
  background-color: white;
  color: #333;
  padding-top: 20px;
}

.wrap{
  margin: 0 auto;
  width: 1200px;
}

.header-wrap{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

body{
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

main{
  background-color: #EEE;
}

.nav-link{
  display: inline-block;
  color: #011F3A;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  position: relative;
  vertical-align: top;
}

.nav-link::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #011F3A;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;

  transition: opacity .1s linear;
}

.nav-link:hover::after{
  opacity: 1;
}

.cart-link{
  margin-top: 5px;
}

.content{
  background-color: #F2AE4D;
}

.content-wrap{
  background-image: url(../images/Background_image.png);
  min-height: 750px;
  background-position-x: 670px;
  background-position-y: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display:
}

.content-title{
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  width: 500px;
  margin-bottom: 30px;
}

.content-suptitle{
  font-weight: normal;
  margin-bottom: 30px;
}

.button{
  display: inline-block;
  background: #3D5675;
  color: white;
  padding: 20px 35px;
  border-radius: 70px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-main{
  background: white;
  display: flex;
  min-height: 120px;
  justify-content: space-between;
}

.footer-main-item{
  display: flex;
  white-space: nowrap;
  align-items: center;
  align-self: center;
}

.footer-main-itemt{
  margin-left: 15px;
  color: gray;
}

.products{
  display: flex;
  justify-content: space-between;
  min-height: 160px;
  align-items: center;
}

/* Section Card */

.card{
  display: flex;
}

.card-items{
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  position: relative;
}

.card-item{
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  border: 1px solid #EEE;
}

.under-image{
  margin-top: -10px;
  padding-left: 25px;
}

.card-title{
  padding-top: 25px;
  font-size: 18px;
  line-height: 21px;
  color: #011F3A;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 21px;
  margin-bottom: 8px;
}

.card-text{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #777;
  margin-bottom: 5px;
  width: 210px;
}

.card-price{
  margin-right: 25px;
  font-size: 15px;
  line-height: 24px;
  color: #A1A1A1;
}

.card-under-title{
  display:flex;
  justify-content: space-between;
}

.card-footer{
  margin-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer-text{
  margin-right: 30px;
  color: #A1A1A1;
  font-weight: 700;
}
